{% include '/emails/layouts/email_header.twig' with {'title': 'Жаллоба на пользователя'} %}
<td valign="middle" class="intro bg_white" style="padding: 2em 0 4em 0;">
    <h1>{{theme}}</h1>
	<table>
		<tbody>
			<tr>
				<p> Имя {{name}} </p>
                <p> Телефон {{tel}} </p>
                <p> Email {{email}} </p>
                <p> Сообщение {{msg}} </p>
			</tr>
		</tbody>
	</table>
</td>
{{ include('/emails/layouts/email_footer.twig') }}
