      <!-- 1 Column Text + Button : END -->
      </table>
      <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
      	<tr>
          <td valign="middle" class="bg_white footer">
            <table>
            	<tr>
                <td valign="middle" style="padding-top: 20px;">
                	<h3 class="subheading">Мы в соцсетях</h3>
                </td>
              </tr>
            	<tr>
                <table class="yiv4667252382social" cellpadding="0" cellspacing="0" align="center" width="200" role="presentation" style="width:200px;border:0;border-collapse:collapse;padding:0;margin:0 auto;">
                  <tbody>
                    <tr>
                      <td align="center" valign="middle" style="">
                        <a rel="nofollow noopener noreferrer" target="_blank" href="{{ constant('TELEGRAM') }}" style="text-align:inherit;text-decoration:none;font-size:inherit;line-height:inherit;font-family:inherit;color:inherit;font-weight:inherit;">
                          <img src="{{ constant('DOMAIN_NAME') }}/bundles/images/telegram.png" width="30" alt="Telegram" style="display:block;">
                        </a>
                      </td>
                      <td align="center" valign="middle" style="">
                        <a rel="nofollow noopener noreferrer" target="_blank" href="{{ constant('INSTAGRAM') }}" style="text-align:inherit;text-decoration:none;font-size:inherit;line-height:inherit;font-family:inherit;color:inherit;font-weight:inherit;">
                          <img src="{{ constant('DOMAIN_NAME') }}/bundles/images/instagram.png" width="30" alt="Instagram" style="display:block;">
                        </a>
                      </td>
                      <td align="center" valign="middle" style="">
                        <a rel="nofollow noopener noreferrer" target="_blank" href="{{ constant('VK') }}" style="text-align:inherit;text-decoration:none;font-size:inherit;line-height:inherit;font-family:inherit;color:inherit;font-weight:inherit;">
                          <img src="{{ constant('DOMAIN_NAME') }}/bundles/images/vk.png" width="30" alt="vk" style="display:block;">
                        </a>
                      </td>
                      <td align="center" valign="middle" style="">
                        <a rel="nofollow noopener noreferrer" target="_blank" href="{{ constant('TWITTER') }}" style="text-align:inherit;text-decoration:none;font-size:inherit;line-height:inherit;font-family:inherit;color:inherit;font-weight:inherit;">
                          <img src="{{ constant('DOMAIN_NAME') }}/bundles/images/twitter.png" width="30" alt="twitter" style="display:block;">
                        </a>
                      </td>
                      <td align="center" valign="middle" style="">
                        <a rel="nofollow noopener noreferrer" target="_blank" href="{{ constant('FACEBOOK') }}" style="text-align:inherit;text-decoration:none;font-size:inherit;line-height:inherit;font-family:inherit;color:inherit;font-weight:inherit;">
                          <img src="{{ constant('DOMAIN_NAME') }}/bundles/images/facebook.png" width="30" alt="Facebook" style="display:block;">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <td class="bg_light" style="text-align: center;">
                  <p>Больше не хотите получать эти письма? Вы можете <a href="#" style="color: rgba(0,0,0,.8);">отписаться</a></p>
                </td>
              </tr>
            </table>
          </td>
        </tr><!-- end: tr -->
      </table>

    </div>
  </center>
</body>
</html>